<strong>Password recovery</strong>

<p>A password recovery request was made for {{ email }}.</p>

<p>If you want to proceed on changing your password, use the following token {{ token }}. </p>

<a href="{{ link }}">Create new passord</a>
